/* ==========================================================
   1. VARIÁVEIS (ROOT)
========================================================== */

:root {
  --bg: #d7bbec;
  --fg: rgb(86, 15, 134);
  --card: #d7bbec;
  ;
}

:root.dark {
  --bg: #010326;
  --fg: #d4b455;
  --card: #072257;
}
/* ==========================================================
   2. RESET
========================================================== */


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--bg);
  color: var(--fg);
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* ==========================================================
   3. ESTRUTURA GERAL
========================================================== */

main {
  background: #d7bbec;
  color: rgb(86, 15, 134);
}

.content {
  padding: 2rem;
}

.hidden {
  display: none;
}

/* ==========================================================
   4. HEADER
========================================================== */

header {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: var(--card);
  box-shadow: 0 1px 4px rgba(185, 74, 74, 0.05);
}

/* ==========================================================
   5. NAVBAR
========================================================== */


.navbar-custom {
  display: flex;
  align-items: center;
}

.navbar-custom .navbar-toggler {
  position: absolute;
  top: 10px;
  right: 10px;
}

.navbar-toggler-icon {
  /* display: inline-block; */
  width: 1.5em;
  height: 1.5em;
  /* vertical-align: middle; */
  background-image: var(--bs-navbar-toggler-icon-bg);
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  /* background-size: 100%; */
}

nav #navbarNav {
  flex-direction: column;
  width: 100%;
  background-color: transparent;
  border-bottom: 2px solid rgba(255, 255, 255, 0.05);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s, border-color 0.3s;
  height: 70px;
  backdrop-filter: blur(05px);
  position: fixed;
  left: 0;
  top: 0;
  justify-content: center;
  padding: 15px;
}

li.nav-item {
  display: flex;
  align-items: center;
}

.light .nav-link {
    color: rgb(86, 15, 134);
  }

.light .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: rgb(86, 15, 134);
}

.light .navbar-nav .nav-link.active, .navbar-nav .nav-link.show:hover {
  color: rgb(131, 56, 181);
}

.dark .nav-link {
    color: #d4b455;
  }

.dark .nav-link:hover{ 
  color: #ffe79e;
}

.dark .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: #d4b455;
}

/* ==========================================================
   6. LOGOS E TEMA
========================================================== */

  a.logolight,
a.logodark {
  z-index: 9;
}

.light a.logolight {
  display: none;
}

.dark a.logodark {
  display: none;
}

.light img.logolight{
  display: none;
}

.dark img.logodark{
  display: none;
}

header .navbar a.logolight img,
header .navbar a.logodark img {
  width: 100px;
}

/* ==========================================================
   7. BOTÃO DE TEMA
========================================================== */


button#themeToggle {
  position: fixed;
  right: 10px;
  bottom: 10px;
  background-color: transparent;
  border-radius: 30px;
  border: 10px solid #0000001f;
  padding: 5px;
  margin: 20px;
}

#themeToggle img {
  /* border: 10px solid rgba(0, 0, 0, 0.03); */
  background: transparent;
  padding: 0.5rem 0.75rem;
  border-radius: 100%;
  cursor: pointer;
  font-weight: 600;
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 99;
  height: 120px;
  width: 120px;
}

:root.dark #themeToggle {
  border-color: rgba(255, 255, 255, 0.12);
}

#themeToggle[aria-pressed="true"] {
  color: #fff;
}

#themeToggle img {
  /* border: 20px solid rgba(0, 0, 0, 0.08); */
  background: transparent;
  padding: 0.5rem 0.75rem;
  border-radius: 100%;
  cursor: pointer;
  font-weight: 600;
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 99;
}

/* ==========================================================
   8. BANNER
========================================================== */

#banner {
  margin-top: 70px;
}

.desktop,
#banner {
  display: block;
}

.mobile,
#bannerMobile {
  display: none;
}

/* ==========================================================
   9. CARROSSEL
========================================================== */

.dark div#carouselLight {
  display: none;
}

.light div#carouselDark-Mobile {
  display: none;
}

.dark div#carouselLight-Mobile {
  display: none;
}

.light div#carouselDark {
  display: none;
}

div#carouselLight .carousel-inner .carousel-item.align-items-center.justify-content-center img,
div#carouselDark .carousel-inner .carousel-item.align-items-center.justify-content-center img {
  height: 500px;
}

.carousel-inner .card a {
  width: 100%;
  display: flex;
  justify-content: center;
}

.light .carousel-control-next-icon, .light .carousel-control-prev-icon {
  background-repeat: no-repeat;
  background-position: 60%;
  background-size: 60%;
  border-radius: 100%;
  background-color: rgba(101, 0, 216, 0.918);
  display: inline-block;
  width: 2rem;
  height: 2rem;
}

.dark .carousel-control-next-icon, .dark .carousel-control-prev-icon {
  background-repeat: no-repeat;
  background-position: 60%;
  background-size: 60%;
  border-radius: 100%;
  background-color: rgba(192, 149, 26);
}

.carousel-control-next{
  left:-120px;
}

.carousel-control-prev{
  right:-120px;
}

.carousel-control-next, .carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
}

/* ==========================================================
   10. LIVROS
========================================================== */

#livros {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(66, 85, 173, 0.06);
  gap: 10px;
  font-size: 20px;
  padding: 10px 0;
}

.card img {
  height: 400px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: black;
  padding: 0;
  max-width: 260px;
}

.card h5 {
  height: 50px;
}

.sinopse{
  display: flex;
  padding: 12px;
  font-size: 20px;
  width: 80%;
}

h5,
p {
  padding: 0 12px;
}

.botao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding: 0 12px;
}

.title-line {
  position: relative;
  display: flex;
  flex-direction: row;
}

.title-line::after {
  position: relative;
  bottom: 5px;
  margin-left: 10px;
  border-bottom: 1px solid rgb(84 28 159 / 97%);
  flex-grow: 1;
  content: "";
}

.dark .title-line::after {
  border-bottom: 1px solid rgba(216, 194, 0, 0.918);
}

.add-to-cart {
  background: #46427e;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.2s;
}

.add-to-cart:hover {
  background: #070b3d;
  ;
}

/* ==========================================================
   11. PRODUTOS
========================================================== */

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding: 2rem;
}

.product {
  background: white;
  border-radius: 10px;
  padding: 1rem;
  width: 200px;
  text-align: center;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.product img {
  width: 100%;
  border-radius: 6px;
}

button {
  display: inline-block;
  padding: 12px 18px;
  border-radius: 12px;
  background: #08203A;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.add-to-cart {
  background: #11079c;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;

}

.add-to-cart:hover {
  background: #04066c;
  transform: scale(1.1);

}

.add-to-cart:active {
  background-color: #4b59f1;
  transform: scale(0.95);
}


section {
  position: relative;
}



.carousel-inner .card a {
  width: 100%;
  display: flex;
  justify-content: center;
}


/* ==========================================================
   12. CARRINHO
========================================================== */

.cart-icon {
  cursor: pointer;
  position: relative;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
  height: auto;
  padding: 25px;
  display: block;
  padding: 0;
  display: flex;
  align-items: center;
}

#cartCount {
  background: white;
  color: #8b75c0;
  border-radius: 25%;
  padding: 0.1rem 0.5rem;
  font-weight: bold;
  display: flex;
  min-width: 60px;
  width: auto;
  height: 60px;
  align-items: center;
  justify-content: center;
}



.add-to-cart {
  background: #11079c;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;

}

.add-to-cart:hover {
  background: #04066c;
  transform: scale(1.1);

}

.add-to-cart:active {
  background-color: #4b59f1;
  transform: scale(0.95);
}

/* Modal do carrinho */
.cart-modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
  z-index: 9;
}

.cart-modal.active {
  display: flex;
}

.cart-content {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  color: #000;
}

.cart-content h2 {
  margin-top: 0;
}

#cartItems {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
  max-height: 250px;
  overflow-y: auto;
}

#cartItems li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .5rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: .5rem;
}

#cartCount {
  /* background: white;
  color: #46427e;
  border-radius: 50%;
  padding: 0.1rem 0.5rem;
  font-weight: bold;
  position: absolute;
  top: -8px;
  right: -10px; */
  background: white;
  color: #8b75c0;
  border-radius: 50%;
  padding: 0.1rem 0.5rem;
  font-weight: bold;
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.cart-content h2 {
  margin-top: 0;
}

#cartItems {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
  max-height: 250px;
  overflow-y: auto;
}



.remove {
  background: transparent;
  border: none;
  color: #070b3d;
  ;
  cursor: pointer;
  font-size: 1rem;
}




#checkout {
  background: #46427e;
  color: white;
}

.infos-contato {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: start;
  margin: 0 200px 100px;
}


.remove {
  background: transparent;
  border: none;
  color: #3742a0;
  cursor: pointer;
  font-size: 1rem;
}

button#closeCart,
button#checkout {
  margin-top: 1rem;
  width: 100%;
  padding: 0.6rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

#closeCart {
  background: #ddd;
}

#checkout {
  background: #070b3d;
  color: white;
}


.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ff6699;
  color: white;
  padding: 1rem;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #070b3d;
  color: white;
  padding: 1rem;
}

.card-preco {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
}


/* ==========================================================
   13. CONTATO
========================================================== */

#contato {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px auto;
  width: 100%;
}

#contato .jerluci img {
  vertical-align: middle;
  height: 300px;
  position: absolute;
  left: 70px;

}

.infos-contato {
  display: flex;
  flex-direction: column;
  margin: 0 200px 100px;
}


#contato .infos-contato h2 {
  font-size: 52px;
  padding-bottom: 20px;
  text-align: right;
}

#contato .infos-contato ul {
  list-style: none;
}

#contato .formulario {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 10px;
}

#contato .formulario input {
  height: 40px;
  width: 70%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #f3f3f3;
}

#contato .formulario textarea {
  height: 80px;
  width: 70%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #f3f3f3;
  margin-top: 10px;
}

#contato .formulario .btn {
  background: #11079c;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
}

#contato .formulario .btn:hover {
  transform: scale(1.1);

}

.formulario .btn:hover {
  background: #04066c;
  transform: scale(1.1);

}

#contato .img {
  display: flex;
  width: 100%;
}

#contato .img img {
  width: 30px;
}

#contato .formulario input {
  height: 40px;
  width: 70%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #f3f3f3;
}

#contato .formulario textarea {
  height: 80px;
  width: 70%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #f3f3f3;
  margin-top: 10px;
}

#contato .formulario .btn {
  background: #11079c;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
}

#contato .formulario .btn:hover {
  transform: scale(1.1);

}

.formulario .btn:hover {
  background: #04066c;
  transform: scale(1.1);

}

#contato .img {
  display: flex;
  width: 100%;
}

#contato .img img {
  width: 30px;
}


/* ==========================================================
   14. PÁGINA DO PRODUTO
========================================================== */

main .produto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 50px auto;
  justify-content: center;
}

.infos-produto{
  display: flex;
  flex-direction: column;
  margin: 80px 0;
  width: 900px;
}

.produto img {
  padding: 80px;
  width: auto;
    height: 100%;
    max-width: 100%;
    max-height: 900px;
    border-radius: 100px;
}

main .produto .descricao {
  width: 69%;
  padding: 40px;
}

main .produto p {
  text-align: justify;
}

.card-preco {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 10px 40px;
}

.card-preco input{
  /* width: 60px; */
  padding: 5px;
  margin-bottom: 15px;
}

/* ==========================================================
   15. AVALIAÇÃO
========================================================== */

.avaliacao{
  padding-left: 40px;
}

.avaliacao span {
  font-size: 20px;
  cursor: pointer;
  color: gray;
   padding: 0; 
   margin-left: 0;
}

.avaliacao span.ativo {
  color: gold;
}

/* ==========================================================
   16. LISTAS E ELEMENTOS GERAIS
========================================================== */

li {
  text-align: end;
}

ul {
  list-style: none;
}

ol,
ul {
  padding-left: 2rem;
}

hr {
  margin: 100px 200px;
  height: 3px;
  background-color: #ffffff;
}

.icones {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
  margin: 10px 0;
}

.icones img {
  width: 100px;
  padding: 0;
}

bg-dark {
  width: 100%;
}

.icones {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
  margin: 10px 0;
}

.icones img {
  width: 40px;
  padding: 2px;
}

/* ==========================================================
   17. MODO ESCURO
========================================================== */

.dark main {
  background: #010326;
  color: #d4b455;
  position: relative;
}

/* ==========================================================
   18. RESPONSIVIDADE
========================================================== */

@media screen and (max-width: 768px) {
  .navbar-custom .navbar-toggler {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

.desktop,
  #banner {
    display: none;
  }

  .mobile,
  #bannerMobile {
    display: block;
  }

mg.logo {
    width: 70px;
  }

  img {
    width: 100%;
    padding: 15px;
  }

  .card {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    background-color: #ffff;
    padding: 10px;
    border-radius: 10px;
  }


  .card img {
    width: 100%;
    height: 350px;
    object-fit: cover;
  }

  /*Página interna*/

.produto img {
    padding: 50px;
    height: 100%;
    border-radius: 60px;
  }

 .sinopse{
  width: 100%;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 18px;
  }

.card-preco {
    align-items: center;
    flex-direction: column;
    text-align: center;
    display: flex;
    width: 100%;
    position: relative;
    margin: 0;
  }

#formulario {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(86, 15, 134);
    padding: 20px;
    border-right: none;
    border-bottom: 5px solid #ffffff;
    border: 5px solid #000;
    margin: 0;
  }

#formulario input,
  select {
    width: 100%;
  }

  #lista {
    width: 100%;
    height: auto;
    padding: 5px 10px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    word-break: break-all;
    margin: 0;
    gap: 10px;
  }

 div#salvo {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    background-color: #ffff;
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
  }


#contato {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px auto;
  width: 100%;
}

#contato .jerluci img {
  vertical-align: middle;
  height: 300px;
  position: absolute;
  left: 70px;

}

.infos-contato {
  display: flex;
  flex-direction: column;
  margin: 0 200px 100px;
}

#contato .infos-contato h2 {
  font-size: 52px;
  padding-bottom: 20px;
  text-align: right;
}

#contato .infos-contato ul {
  list-style: none;
}

#contato .formulario {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 10px;
}

hr {
  margin: 100px 200px;
  height: 3px;
  background-color: #ffffff;
}

#themeToggle img {
    height: 120px;
    width: 100px;
    right: 0px;
  }

.cart-icon {
  cursor: pointer;
  position: relative;
  font-size: 1.2rem;
}

.navbar-nav{
    align-items: flex-end;
  }


  main .produto .descricao {
    width: 100%;
    padding: 15px;
    text-align: center;
  }

  header .navbar a.logolight img,
  header .navbar a.logodark img {
    width: 70px;
    height: auto;
  }

    #formulario input,
  select {
    width: 100%;
  }

  #contato .jerluci img {
    vertical-align: middle;
   /* height: 300px;*/
    position: unset;
    left: unset;
    height: 150px;
  }

    #contato .infos-contato h2 {
    font-size: 52px;
    padding-bottom: 20px;
    text-align: center;
  }

  .contatoInfos {
    display: flex;
    justify-content: center;
  }

  .infos-contato {
    display: flex;
    flex-direction: column;
    margin: 50px;
  }

  #contato .formulario {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    align-items: center;
  }

  

  hr {
    margin: 2px;
    height: 3px;
    background-color: #ffffff;
  }

    #contato {
    width: 100%;
  }

  #contato .infos-contato ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .cart-icon {
  cursor: pointer;
  position: relative;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  }

}
